
.main-content {
  margin: 70px;
}

.search-container p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 170%;
  display: flex;
  align-items: center;
  color: #555555;
  margin-left: 20px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
}

.search-container input {
  width: 445px;
  height: 55px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 24px;
}

.more-videos {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 152.38%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F24B6A;
}

.more-videos p {
  text-align: center;
}


.more-videos p:last-child {
  display: none;
}

.arrow-down {
  font-size: 24px;
  color: #F24B6A;
  vertical-align: middle;
  margin-left: 8px;
}

.more-videos-disabled {
  display: none;
}

.nothing-found {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 152.38%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F24B6A;
}


@media screen and (max-width: 900px) {
  .search-container {
    flex-direction: column;
    text-align: left;
  }

  .search-container input {
    max-width: 400px;
    width: 85%;
    height: 30px;
    font-size: 16px;
  }

  .main-content {
    margin: 8px;
  }

}

