
.videos-container {
  margin: 25px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(389px,1fr));
  grid-auto-rows: minmax(194px,auto);
  grid-gap: 16px;
}

.video-item {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-content: center;
  align-items: center;
}

.video-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 170%;
  display: flex;
  align-items: center;
  color: #555555;
  max-width:389px;
  align-self: auto;
  padding: 3px 18px;
}

.fake-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 389px;
  height: 194px;
  /*background: url("https://picsum.photos/389/194") rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  transition: all .3s;
  width: 100%;
}

.background-video {
  width: 389px;
  height: 194px;
}

.fake-video:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.6);
  filter: brightness(120%);
}

.fake-video img {
  height: 58px;
  /*transform: translate(-50%,-50%);*/
  border-radius: 50%;
  cursor: pointer;
}

.fake-video img:hover {
  background: #f24b6a;
  border: 2px solid #f24b6a;
  padding: -1px;
}

.video-frame {

}

.video-player {
  z-index: 100;
  position: fixed;
  top:20%;
  left:20%;
  display: flex;
  justify-content: center;
  height: 390px;
  width: 640px;
  margin: 0 auto;
}

.video-disabled {
  display: none;
}

.gr-close {
  font-size: 32px;
  color: #FFFFFF;
  /*color: #F24B6A;*/
  /*border: 3px solid #f24b6a;*/
  /*border-radius: 50%;*/
  position: absolute;
  top: 1%;
  right: 50%;
  cursor: pointer;
}

#video-player p {
  visibility: hidden;
}

#video-player:hover p {
  visibility: visible;
}

.video-popup {
  height: 400px;
  width: 600px;
  background-color: grey;
  position: relative;
  left: 80%;
}


@media screen and (max-width: 900px) {


  /*.videos-container {
    grid-template-columns: 1fr;
  }*/

  .video-item {
    width: 320px;
    height: 200px;
    margin: 0 auto;
  }

  .fake-video {

  }

  .video-text {
    padding: 3px 3px;
  }

  .video-player {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 20%;
    left: 13%;
  }

  .gr-close {
  position: absolute;
  top: 1%;
  right: 45%;
}

}

