.tools-menu {
  margin: 70px 80px;
  /*margin: 16px 0;*/
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;*/
  grid-template-columns: repeat(auto-fill,minmax(228px,1fr));
  grid-auto-rows: minmax(154px,auto);
  grid-gap: 24px
}

.active {
  border: 1px solid pink;
  padding: 16px;
}

.tools-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}


@media screen and (max-width: 900px) {

  .tools-menu {
    margin: -100px;
    /*grid-template-columns: 1fr 1fr;*/
    align-items: center;
    justify-content: center;
    transform: scale(.6);
    grid-gap: 16px
  }
}
