.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*position: relative;*/
  /*width: 1444px;*/
  width: 100vw;
  height: 402.38px;
  display:table;
}

.banner-welcome {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 152.38%;
  /* or 73px */
  color: #FFF7F7;

}

.banner-welcome  {
  display:table-cell;
  vertical-align:middle;
  text-align:center;

}

@media screen and (max-width: 900px) {

.banner-welcome {
  /*font-size: 24px;*/
}


}
